*
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
	font-weight: 300

section
	margin-bottom: 5rem
// h2
	// margin-top: 8rem
	// margin-left: 1em

body
	padding: 1rem

p
	margin: 0
	color: gray
h5
	// font-weight: bold
	margin: 0.5rem 0
	// padding: 0

a
	color: cornflowerblue
	text-decoration: none
	cursor: pointer
	&:hover
		color: blue

hr
	border: 0
	border-top: 1px solid silver

table
	border-collapse: collapse
	caption-side: bottom
	th
		font-weight: bold
	td
		padding: 0.2rem 0.6rem
	caption 
		color: gray
		font-size: 11px
		white-space: pre


table.info
	margin: 1em
	td
		border: 1px solid silver

ul.info
	margin: 1em
	padding-left: 1em
	li
		color: gray
		font-size: 0.8em

button
	display: block
	margin-top: 1em
	background: cornflowerblue
	border: none
	color: white
	padding: 0.5rem
	&[disabled]
		background: silver


.chart
	border: 1px solid black

.chart-box
	margin: 3em 1em
	.options
		a
			padding-right: 1em
		.selected
			font-weight: bold
	.export
		a
			padding-left: 1em



form
	margin: 1em 0
	padding: 1em
	background: #eee
	border-radius: 10px
	ul
		padding-left: 1em
	.help
		color: gray
		font-size: 0.9em


	

.inline-block
	display: inline-block

.flex-start
	display: flex
	justify-content: flex-start

.flex-between 
	display: flex
	justify-content: space-between

.milliseconds
	color: silver
	padding-left:0.5rem

.loader
	height: 40px

#source
	form
		margin: 1em 2em 1em 0

#correlation
	form
		td:first-child
			font-weight: 500
	.table
		table
			width: 100%
			// width: calc(100% - 2em)
			// margin: 1em
			th,td
				border: 1px solid silver
				font-size: 0.8rem
				text-align: right
				font-size: 11px
				padding: 0.1rem 0.3rem





// #correlationResults
// 	.chart-box
// 		margin: 0
// 	.wrap
// 		margin: 7em 1em
// 		h3
// 			white-space: pre
// 			text-align: center
// 		table
// 			width: 100%
// 			// width: calc(100% - 2em)
// 			// margin: 1em
// 			th,td
// 				border: 1px solid silver
// 				font-size: 0.8rem
// 				text-align: right
// 				font-size: 11px
// 				padding: 0.1rem 0.3rem
// 			caption
// 				display: none
// 		a.remove 
// 			display: block
// 			margin: auto
// 			text-align: center
// 			text-decoration: none
// 			font-size: 11px
// 			color: red

