!! type, count
<!-- <hr /> -->
<div class="chart"></div>
<div class="flex-between">
	<!-- <h3>Distribution of Location Entries</h3> -->
	<div class="options">
		<a class='${type=="clinic"?"selected":""}'>clinic</a>
		<a class='${type=="ward"?"selected":""}'>ward</a>
		<a class='${type=="room"?"selected":""}'>room</a>
	</div>	

	<div class="count">
		<a class='${count=="30"?"selected":""}'>30</a>
		<a class='${count=="all"?"selected":""}'>all</a>
	</div>

	<div class="export">
		<a >tsv</a>
		<a >svg</a>
		<a >png</a>
	</div>
</div>